<div class="user-details">
  <h1>Who we are.</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>History</h2>
    <p>The Public Enemies started as a divergent from our first group. The Public Enemies have been formed for 3 months.</p>
  </div>
  <div class="tech">
    <h2>Members</h2>   
    <p>Sims 4 | Xoflick | bstanek | Bimpar   Kashotex | Rjayloko | Distinct</p>
  </div>
  <div class="tech">
    <h2>Contact</h2>
    <p>You can contact us at the Discord Server, or <href="mailto:mauriurraco@gmail.com">emailing us.</p>
  </div>
</div>
