<div class="user-details">
  <h1>Who we are.</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>History</h2>
    <p>The Public Enemies started as a divergent from our first group. The Public Enemies have been formed for 3 years.</p>
  </div>
  <div class="tech">
    <h2>Members</h2>   
    <p>Sims 4 | Xoflick | Kuzzo | Bimpar | Kashotex   Rjayloko | Distinct | Eclipze249  Keebler17</p>
  </div>
  <div class="tech">
    <h2>Contact</h2>
    <p>You can contact us at the Discord Server, or send us an <a href="mailto:thepublicenemiesv1@gmail.com">email</a></p>
  </div>
</div>
