<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/the.public.enemies/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCGXn_wy3QM27anwJjcXzXHw"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="Discord" target="_blank" href="https://discord.gg/C5nSkhH"><i class="icon fab fa-discord" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
